/* centering text */
body {
    text-align: center
}
/* margin -> padding -> border -> content */
/* centering images */
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}